name: ci

on:
  pull_request:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  stack:
    name: stack / ghc ${{ matrix.ghc }}
    runs-on: [self-hosted, Linux, desktop]
    strategy:
      fail-fast: false
      # matrix:
      #   ghc:
      #   - "9.6.3"

    steps:
    # - name: Install libraries
    #   run: |
    #     sudo apt update
    #     sudo apt install -y libzmq5-dev libpcre3-dev

    - uses: actions/checkout@v4

    # - uses: haskell/actions/setup@v1
    #   name: Setup Haskell Stack
    #   with:
    #     ghc-version: ${{ matrix.ghc }}
    #     stack-version: "latest"
    #     enable-stack: true

    # - uses: actions/cache@v4
    #   name: Cache ~/.stack
    #   with:
    #     path: ~/.stack
    #     key: ${{ runner.os }}-${{ matrix.ghc }}-stack

    - name: Build
      run: |
        # stack build --system-ghc --test --bench --no-run-tests --no-run-benchmarks
        export NIX_PATH="nixpkgs=$(nix run .#nixpkgsPath)"
        echo "NIX_PATH: $NIX_PATH"
        nix run .#stack -- build --nix --test --bench --no-run-tests --no-run-benchmarks

    - name: Test
      run: |
        # stack test --system-ghc --test-arguments --print
        export NIX_PATH="nixpkgs=$(nix run .#nixpkgsPath)"
        echo "NIX_PATH: $NIX_PATH"
        nix run .#stack -- test --nix --test-arguments --print

  no-gmp:
    runs-on: [self-hosted, Linux, desktop]
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v4

    # - uses: cachix/install-nix-action@v22
    #   with:
    #     nix_path: nixpkgs=channel:nixos-unstable
    #     extra_nix_config: |
    #       trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
    #       substituters = https://hydra.iohk.io https://cache.nixos.org/

    - name: No GMP
      run: |
        nix run .#verify-no-gmp

  nix:
    name: Nix
    runs-on: [self-hosted, Linux, desktop]
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v4

    # - uses: cachix/install-nix-action@v22
    #   with:
    #     nix_path: nixpkgs=channel:nixos-unstable
    #     extra_nix_config: |
    #       trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=
    #       substituters = https://hydra.iohk.io https://cache.nixos.org/

    - name: Build
      run: |
        nix build
